* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 800vh;
    background-color: black;
    font-family: 'Noto Sans Ethiopic', sans-serif;                                           
    color: white;                                            
}

.heropage{
background-color: #9dbfda;
height: 95dvh;
 width: 100%;
 display: grid;
justify-content: center;
align-items: center;
position: fixed;
}

h1 {
  text-align: center;
  position: relative;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'seriousr2', sans-serif; 
  font-weight: 700;
  font-style: normal;
  font-size: 9vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  max-width: 93vw;
  contain: layout style paint;
}

.parallax-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Takes up the full screen height */
    overflow: hidden; /* Hides whatever scrolls out of the box */
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures images cover the screen without stretching */
    pointer-events: none; /* Stops images from blocking button clicks */
}

/* Dictate the order (higher number = closer to the front) */
.layer-sky { z-index: 1; }
.layer-mountains { z-index: 2; }
.layer-trees { z-index: 3; }
.layer-bear { 
    z-index: 4; 
    object-position: right bottom; /* Keep the bear pinned to the right */
}
.layer-ui {
    z-index: 5;
    pointer-events: auto; /* Allow clicks on UI */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a:link {
  text-decoration: none;
}